<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="post">
    <p>邮箱：<input type="text" name="email"></p>
    <p>用户名：<input type="text" name="username"></p>
    <p>年龄：<input type="text" name="age"></p>
    <p>手机号：<input type="text" name="phone"></p>
    <p>个人主页：<input type="text" name="homepage"></p>
    <p>验证码：<input type="text" name="captcha"></p>



    <p><input type="submit" value="提交"></p>
</form>

</body>
</html>